@import 'styles/mixins';
@import 'styles/variables';


.container {
  width: 360px;
  height: 216px;

  padding: 10px 20px;
  margin: auto;
  margin-top: 30px;

  background-color: var(--pure-white);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.50);
}

.title {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;

  @apply --libhanddis-regular;
  font-size: 18px;

  background: none;
  border: none;
  outline: none;
}

.textarea {
  width: 100%;
  height: 164px;

  @apply --libhanddis-regular;
  font-size: 14px;

  border: none;
  resize: none;
}

.textarea:focus {
  outline: none;
}
