@import 'styles/variables.css';


.container {
  width: 190px;
  height: 36px;

  display: flex;
  flex-flow: row nowrap;

  margin-top: 30px;
  margin-left: 436px;

  background-color: var(--pure-white);
}

.left, .right {
  width: 95px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.left {
  padding-right: 13px;
  justify-content: flex-end;
}

.right {
  padding-left: 13px;
  justify-content: flex-start;
}

.icon {
  cursor: pointer;
}
