@import 'styles/variables.css';
@import 'styles/mixins.css';


.container {
  flex: 0 0 78px;

  padding: 0 35px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--pure-white);
}

.title {
  margin-right: 320px;

  @apply --futura-book;
  font-size: 64px;
}

.icon-settings {
}
