@import 'styles/mixins.css';
@import 'styles/variables.css';


.container {
  width: 60px;
  height: 152px;

  position: absolute;
  right: 18px;
  top: 30px;

  display: flex;
  flex-flow: column nowrap;

  border: 1px solid var(--black);
}

.item, .item--selected {
  width: 58px;
  height: 30px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  @apply --typewriter-regular;
  font-size: 13px;

  border-bottom: 1px solid var(--black);
  background-color: var(--pure-white);

  cursor: pointer;
}

.item:last-child {
  border-bottom: 0px;
}

.item--selected {
  color: var(--pure-white);
  background-color: var(--black);
}
