:root {
  --pure-white: #ffffff;
  --off-white: #f8f8f8;
  --very-light-gray: #f3f3f3;
  --light-gray: #dddddd;
  --medium-light-gray: #c8c8c8;
  --medium-dark-gray: #989898;
  --dark-gray: #686868;
  --very-dark-gray: #383838;
  --blackish: #080808;
  --black: #000000;
}
